body
 {
        background-color: grey;
        font-family: verdana, helvetica, sans-serif;
        text-align:left;
}

p
{
  background: url("images/mydroneshot.jpg") no-repeat center fixed;
  background-size: cover;
}
P
       {
       line-height: 25px;
       font-style: italic;
       text-indent:100px;
}
h1 

{
       color:white;
       text-decoration:underline;
       margin:25px;
       font-size:150%;

}

h2 {
       color:pink;
       font-style:italic;
       background-color: purple ;
}

h3 {
       background-color: yellow;
}
