body
 {
        background-color: grey;
        font-family: verdana, helvetica, sans-serif;
        text-align:center;
}
p 
{
  background-image: url("https://tse2.mm.bing.net/th?id=OIP.NeT2hh-ymPRX8b8JKSEWJgHaE8&pid=Api&P=0");
}
P
       {
       line-height: 25px;
       font-style: italic;
       text-indent:100px;
}

h1 

{
       color:white;
       text-decoration:underline;
       margin:25px;
       font-size:150%;

}

h2 {
       color:pink;
       font-style:italic;
       background-color: purple ;
}

h3 {
       background-color: yellow;
}
