body
 {
        background-color: grey;
        font-family: verdana, helvetica, sans-serif;
        text-align:center;
}


P
       {
       line-height: 25px;
       font-style: italic;
       text-indent:100px;
}
 
 p 
{
       <img src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Mixed_vegetable_soup_the_Nigerian_way.jpg" width="500" height="600">
}

h1 

{
       color:white;
       text-decoration:underline;
       margin:25px;
       font-size:150%;

}

h2 {
       color:pink;
       font-style:italic;
       background-color: purple ;
}

h3 {
       background-color: yellow;
}